*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
    color: white;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #111;
    position: relative;
}
.elem{
    height: 24%;
    width: 100%;
    border-bottom: 3px solid white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.elem h1{
    font-size: 14vh;
    font-weight: 900;
    position: relative;
    z-index: 9;
    mix-blend-mode: difference;
}
.elem img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
    position: absolute;
    opacity: 0;
    transition: all linear 0.3s;
}